.container.text-center
  %h1 Блузки
  - for blouse in @blouses
    - if blouse.quantity > 0
      .row.margin-index
        .col-md-4.text-center
          - if blouse.image_stored?
            = image_tag (blouse.image.thumb('150x150#').url)
          - else
            = image_tag(asset_path('no_image.jpg'), size:'150x150')
        .col-md-4.text-center
          %ul.list-group
            %li.list-group-item{style: 'border-color: white'}
              %b Фирма:
              #{blouse.brand}
            %li.list-group-item{style: 'border-color: white'}
              %b Цвет:
              #{blouse.color}
            %li.list-group-item{style: 'border-color: white'}
              %b Доступные размеры:
              #{blouse.size}
            %li.list-group-item{style: 'border-color: white'}
              = link_to 'Подробное описание', blouse_path(blouse)
        .col-md-2.col-md-offset-1.text-center
          .form-group
            %b Цена:
            #{blouse.cost}
            - if user_signed_in?
              - if current_user.role == 'admin'
                .form-group
                  = link_to 'Редактировать', edit_blouse_path(blouse)
                  = link_to 'Удалить', blouse, method: :delete
          = link_to 'В корзину', add_to_basket_path(item_id: blouse.id, basket: true),
                                                    class: 'btn btn-warning'
