.container.text-center
  %h1 Женская верхняя одежда
  - for jacket in @jackets
    - if jacket.quantity > 0
      .row.margin-index
        .col-md-4.text-center
          - if jacket.image_stored?
            = image_tag (jacket.image.thumb('150x150#').url)
          - else
            = image_tag(asset_path('no_image.jpg'), size:'150x150')
        .col-md-4.text-center
          %ul.list-group
            %li.list-group-item{style: 'border-color: white'}
              %b Фирма:
              #{jacket.brand}
            %li.list-group-item{style: 'border-color: white'}
              %b Цвет:
              #{jacket.color}
            %li.list-group-item{style: 'border-color: white'}
              %b Доступные размеры:
              #{jacket.size}
            %li.list-group-item{style: 'border-color: white'}
              = link_to 'Подробное описание', jacket_path(jacket)
        .col-md-2.col-md-offset-1.text-center
          .form-group
            %b Цена:
            #{jacket.cost}
            - if user_signed_in?
              - if current_user.role == 'admin'
                .form-group
                  = link_to 'Редактировать', edit_jacket_path(jacket)
                  = link_to 'Удалить', jacket, method: :delete
          = link_to 'В корзину', add_to_basket_path(item_id: jacket.id, basket: true),
                                                    class: 'btn btn-warning'
