.container
  %h1.text-center
    Добавление одежды
  %ul.list-group
    .col-md-3.col-md-offset-3.text-center
      %li.list-group-item
        = link_to 'Добавить верхнюю одежду', new_jacket_path
      %li.list-group-item
        = link_to 'Добавить кофту', new_jumper_path
      %li.list-group-item
        = link_to 'Добавить рубашку', new_shirt_path
      %li.list-group-item
        = link_to 'Добавить майку', new_t_shirt_path
      %li.list-group-item
        = link_to 'Добавить джинсы', new_jeans_path
      %li.list-group-item
        = link_to 'Добавить штаны', new_pant_path
    .col-md-3.text-center
      %li.list-group-item
        = link_to 'Добавить платье', new_dress_path
      %li.list-group-item
        = link_to 'Добавить юбку', new_skirt_path
      %li.list-group-item
        = link_to 'Добавить блузку', new_blouse_path
      %li.list-group-item
        = link_to 'Добавить спортивный костюм', new_sport_suit_path
      %li.list-group-item
        = link_to 'Добавить обувь', new_shoe_path
      %li.list-group-item
        = link_to 'Добавить шапку', new_headdress_path

