.container.text-center
  %h1 Платья
  - for dress in @dresses
    - if dress.quantity > 0
      .row.margin-index
        .col-md-4.text-center
          - if dress.image_stored?
            = image_tag (dress.image.thumb('150x150#').url)
          - else
            = image_tag(asset_path('no_image.jpg'), size:'150x150')
        .col-md-4.text-center
          %ul.list-group
            %li.list-group-item{style: 'border-color: white'}
              %b Фирма:
              #{dress.brand}
            %li.list-group-item{style: 'border-color: white'}
              %b Цвет:
              #{dress.color}
            %li.list-group-item{style: 'border-color: white'}
              %b Доступные размеры:
              #{dress.size}
            %li.list-group-item{style: 'border-color: white'}
              = link_to 'Подробное описание', dress_path(dress)
        .col-md-2.col-md-offset-1.text-center
          .form-group
            %b Цена:
            #{dress.cost}
            - if user_signed_in?
              - if current_user.role == 'admin'
                .form-group
                  = link_to 'Редактировать', edit_dress_path(dress)
                  = link_to 'Удалить', dress, method: :delete
          = link_to 'В корзину', add_to_basket_path(item_id: dress.id, basket: true),
                                                    class: 'btn btn-warning'
